/*Configurações gerais*/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #474056;
    --cor1: #757083;
    --cor2: #3d3d3d;
    --cor3: #9a8064;

    --font-padrao: 'Bebas Neue', Arial;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw; /*Viewport(Tela) largura*/
    height: 100vh; /*Viewport(Tela) altura*/
    display: block;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

/*------------- INICIO DAS CONFIGURAÇÕES MENU -------------*/

header{
    width: 100vw;
    background-color: var(--cor2);
}

section.header{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor2);
}

.logotipo{
    font-family: var(--font-padrao);
}

.logotipo img{
    max-width: 100px;
}

.logotipo > a img{
    color: white;
}

section > nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

section > nav ul li a{
    color: white;
    padding: 10px 30px;
    font-family: var(--font-padrao);
    text-decoration:none;
    letter-spacing: 0.5px;
    display: block;
    transition: .2s;
    
}

section > nav ul li a:hover{
    background-color: var(--cor3);
}

.drop-hover{
    position: relative;
    
}

.drop-hover .drop{
    position: absolute;
    background-color: var(--cor2);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s;
    
}

.drop-hover .drop a{
    padding: 10px;
    
}

.drop-hover:hover .drop{
    height: 164px;
    z-index: 10;
}

.btn-social > span{
    color:white;
}

.btn-social > a{
    color: white;
    font-family: var(--font-padrao);
    text-decoration: none;
}

.divLogado{
    padding: 15px;
    display: none;
    color: white;
    font-family: var(--font-padrao);
    align-items: center;
}

.divLogado button{
    margin-left: 15px;
    border: none;
    background-color: var(--cor2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    display: none;
    color: #fff;
}

.divLogado button:hover{
    color: var(--cor3);
    scale: 1.1;
}

.hamburguer{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
    
}




/*------------- INICIO DAS CONFIGURAÇÕES CORPO -------------*/

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
    margin: auto;
    margin-bottom: 30px;
    border-radius: 0px 0px 5px 5px;
    
}


/* produtos
------------------------------------------- */
.produtos{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 95%;
    
}

.prod{
    max-width:350px;
    margin: 0 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.51);
    border-radius: 0px 0px 5px 5px;
   display: flex;
   align-items: center;
   text-align: center;

}

.prod a{
    width:100%;
    margin: 0 auto; 
    text-decoration: none;
    color: var(--cor2); 
    transition: 0.2s ease-in-out;
}

.prod a:hover{
    color: var(--cor3);
    
}



.prod img{
   border-radius: 0px 0px 5px 5px;
   padding: 5px;
   
}




/* rodapé
------------------------------------ */
footer{
    background-color: var(--cor2);
    margin-top: 2em;
}


.rodape{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.rodape h3{
    color: white;
    padding: 10px 30px;
    font-family: var(--font-padrao);
    letter-spacing: 0.5px;
}

.rodape ul{
    list-style: none;
}


.rodape ul a{
    color: white;
    padding: 10px 30px;
    font-family: var(--font-padrao);
    text-decoration:none;
    letter-spacing: 0.5px;
    display: block;
    transition: 0.2ms;
    
}


.recursos{
    display: flex;
   
}

.recursos div{
   margin: 0 5em;
   
}

.recursos ul li a:hover{
    background-color: var(--cor3);
}


.redes-socias ul{
    display: flex;
    justify-content: center;
}

.redes-socias ul a{
    padding: 10px 10px;
}





/* respondividade
----------------------------------- */
@media (max-width: 720px){
    .hamburguer{
        display: block;
    }

    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        background-color: var(--cor2);
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
        z-index: 1;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .drop{
        display: none;
    }

    .recursos{
        flex-direction: column;
    }
    
}